
html {
  background: url('images/patrick-fore-0gkw_9fy0eQ-unsplash.jpg');
  background-color: #D6C9BC;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  align-self: center;
  justify-content: center;
}

header{
  background-color: rgba(191, 170, 149, 0.9);
  height: 120px;
  display: flex;
  justify-content: center;
}

h1 {
  color: #0F0601;
  font-size: xx-large;
  font-family: 'Special Elite', cursive;
  position: absolute;
  align-self: flex-start;
  justify-self: center;
  padding-top: 15px;
  margin-bottom: 0px;
  justify-self: center;
}

h3 {
  color: #080301;
  font-family: 'Courier prime', monospace;
  font-style: italic;
  align-self: flex-end;
  text-justify: center;
  padding-bottom: 20px;
  margin-top: 0px;
}

.generator {
  display: grid;
  justify-content: center;
  grid-template-columns: 24% 24% 24% 24%;
  column-gap: 5px;
  grid-template-rows: 40px 30px content;
  row-gap: 5px;
  min-height: 100px;
  height: content;
  background-color: rgba(214, 201, 188, 0.7);
  color: #383736;
  margin: 20px 0px 20px 0px;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

h5 {
  text-align: center;
  text-decoration: underline;
  color: #080301;
  font-family: 'Courier prime', monospace;
  font-size: x-large;
  margin-top: 0%;
  margin-bottom: 0%;
}

#gen-header{
  grid-row: 1;
  grid-column: 1/5;
  align-self: bottom;
}

#noun-btn {
  grid-row: 2;
  grid-column: 1;
}
#adj-btn{
  grid-row: 2;
  grid-column: 2;
}
  
#verb-btn{
  grid-row: 2;
  grid-column: 3;
}
#adv-btn{
  grid-row: 2;
  grid-column: 4;
}

ul {
  align-self: top;
  font-style: bold;
  list-style-type: none;
  margin-top: 0%;
  padding: 5% 5% 5% 5%;
  min-height: 50px;
  height: content;
  min-width: content;
  font-family: 'Lekton', sans-serif;
  justify-items: center;
  background-color: rgba(214, 201, 188, 0.9);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  box-sizing: border-box;
}

#noun-list {
  grid-row: 3;
  grid-column;: 1
}
#adj-list{
  grid-row: 3;
  grid-column: 2;
}
  
#verb-list{
  grid-row: 3;
  grid-column: 3;
}
#adv-list{
  grid-row: 3;
  grid-column: 4;
}

.txtlog {
  background-color: rgba(214, 201, 188, 0.7);
  justify-self: center;
  margin-bottom: 1%;
  display: grid;
  grid-template-rows: 50px 45px min-content 40px;
  row-gap: 3px;
  padding: 30px 5% 30px 5%;
}

#txtlog-header{
  grid-row: 1;
}

textarea {
  color: #0F0601;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 10px 5px 5px 10px;
  resize: none;
  font-size: medium;
}

#txt-title {
  grid-row: 2;
  height: 25px;
  font-family: 'Special Elite', cursive;
  font-style: italic;
}

#txt-story {
  grid-row: 3;
  min-height: 280px;
  text-justify: justify;
  font-family: 'Courier Prime', monospace;
}

#clear-btn {
  grid-row: 4;
  height: 25px;
  text-align: bottom;
  justify-self: right;
  margin-top: 3px;
}

.btn {
  font-family: 'Cutive', serif;
  font-style: bold;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  height: 30px;
  text-align: center;
  justify-self: center;
  align-self: top;
  padding: 5px 5px 0px 5px;
  margin: 0%;
}

@media screen and (max-width: 500px) {
  
  html {
    background: url('images/limepic-PfqPmJyKsKQ-unsplash.jpg');
    background-color: #D6C9BC;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  
  header {
    max-height: content;
    width: 100%;
    align-content: center;
    margin-top: 20px;
  }

  h1 {
    font-size: 30px;
    text-justify: center;
    margin-bottom: 0px;
    padding-bottom: 2px;
  }
  
  h3 {
    font-size: 14px;
    text-justify: center;
    margin-top: 0px;
    padding-top: 0px;
  }
  
  .generator {
    max-width: 500px;
    height: content;
    grid-template-columns: 49% 49%;
    column-gap: 2px;
    grid-template-rows: 40px 25px content 25px content;
    row-gap: 2px;
    min-height: content;
    margin: 30px 5px 0px 5px;
  }
  
  h5 {
    text-decoration: underline;
    font-size: x-large;
    margin-top: 0%;
    margin-bottom: 10px;
  }
  
  #gen-header{
    grid-row: 1;
    grid-column: 1/3;
    align-self: bottom;
    font-size: 20px;;
  }
  
  #noun-btn {
    grid-row: 2;
    grid-column: 1;
    margin-top: 0;
  }
  #adj-btn{
    grid-row: 2;
    grid-column: 2;
    margin-top: 0;
  }
    
  #verb-btn{
    grid-row: 4;
    grid-column: 1;
    margin-top: 0;
  }
  #adv-btn{
    grid-row: 4;
    grid-column: 2;
    margin-top: 0;
  }
  
  ul {
    align-self: top;
    list-style-type: none;
    margin-top: 0%;
    padding: 5px 0 5px 5px;
    min-height: 50px;
    height: content;
    min-width: content;
    
  }
  
  #noun-list {
    grid-row: 3;
    grid-column: 1;
  }
  #adj-list{
    grid-row: 3;
    grid-column: 2;
  }
    
  #verb-list{
    grid-row: 5;
    grid-column: 1;
  }
  #adv-list{
    grid-row: 5;
    grid-column: 2;
  }
  
  .txtlog {
    max-width: 90%;
    margin-top: 30px;
    height: 300px;
  }
  
  #txtlog-header{
    font-size: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  #txt-title {
    height: content;
    font-size: 18px;
    margin-top: 0pt;
    text-align: bottom;
  }
  
  #txt-story {
    min-height: 150px;
    max-height: fit-content ;
    font-size: 16px;
  }
  
  #clear-btn {
    grid-row: 4;
    height: 25px;
    text-align: bottom;
    justify-self: right;
    margin-top: 3px;
  }
  
  .btn {
    font-size: 12px;
    max-width: 100%;
    padding-top: 2px;
    padding-bottom: 0px;
    margin: 1px 1px 1px 1px;
  }
}